.icon-left {
  position: absolute;
  top: 10px;
  left: 10px;
}

.icon-right {
  position: absolute;
  bottom: 10px;
  right: 10px;
}
.season-display h1 {
  font-size: 4em;
}

.season-display.Winter i {
  color: blue;
}

.season-display.Summer i {
  color: red;
}

.season-display {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.Winter {
  background-color: aliceblue;
  color: blue;
}
.Summer {
  background-color: orange;
  color: red;
}

.border-red {
  border: 1px solid red;
}
